body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0b0c10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.loading-screen {
  text-align: center;
}

.logo {
  width: 200px;
  margin-bottom: 40px;
}

.container {
  width: 300px;
  height: 4px;
  background: #1c1c3a;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 10px #00ffae;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00ffae, #00ffc3);
  transition: width 0.2s;
}

.percent {
      color: #00ffae;
      margin-top: 10px;
      font-size: 18px;
    }